* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.main-container {
    width: 400px;
    margin: 0 auto;
    background-color: black;
}
.display {
    font-family: monospace;
    font-size: 35px;
    text-align: right;
    color: whitesmoke;
    padding: 25px 5px;
}

.calc-row {
    width: 100%;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}
.calc-btn {
    border: none;
    width: 24.5%;
    height: 100px;
    background-color: rgb(216, 217, 219);
    font-size: 40px;
    cursor: pointer;
}
.calc-btn:hover {
    background-color: #B3BED1;
}

.calc-btn:last-child {
   background-color: rgb(223, 151, 76);
   color: whitesmoke;
}
.calc-btn:last-child:hover {
    background-color: #783300;
}
.double {
    width: 49.7%;
}
.triple {
    width: 74.8%;
}